name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python 3.13
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.14.2
      - name: Install dependencies
        run: |
          pip install -e .
          pip install -r requirements_tests.txt
      - name: Execute tests
        run: |
          pytest --timeout=10 tests

  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python 3.13
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.14.2
      - name: Restore pre-commit cache
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install dependencies
        run: |
          pip install -e .
          pip install -r requirements_tests.txt
      - name: Run pre-commit checks
        run: SKIP=no-commit-to-branch pre-commit run --all-files
